<html>
  <head>
      <link rel="stylesheet" type="text/css" href="styles2.css">

    <title>Dom Thanks You</title>
  </head>
  <body>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
  </body>
</html>